html, body {
    margin: 0;
    padding: 0;
    background: white;
	font-family: Georgia, serif;
	padding-bottom: 8px;
    font-size: 100%;
    line-height: normal;
    height:100%;
}

.top
{
    position:fixed;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
    left:2px;
    top:2px;
	height:70px; 
	width:100%;
	color: #FFFFFF;
	font-size:3;
	background-color: #1f618d;
}

.top a
{
    color:lime;
    text-decoration:underline;
}

.middleseparator
{
    position:fixed;
    left:0px;
    top:174px;
	height:31px; 
	width:100%;
	background-image:url('imgs/background-middleSeparator.jpg');
    background-repeat:repeat-x;
}

.sidebar
{
    position:fixed;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
    left:2px;
    top:75px;
    width:175px;
    height:100%;
	background:  #34495e;
}
.verticalSparator
{
    position:fixed;
    left:175px;
    top:75px;
    width:1px;
    height:100%;
    background-color:#D05218;
}
.container
{
    position:absolute;
    left:180px;
    top:80px;
}

h1, h2, h3,h4, h5, h6 {
    margin: 10; 
    padding-right: 15px;
    padding-left: 10px;
    color:#F58026;
}

p
{
    margin: 10; 
    padding-right: 15px;
    padding-left: 17px;
}

a img { 
    border: none;
}

a
{
    color:Green;
    text-decoration:underline;
}
.niceBox
{
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 100px;
	padding: 0px;
}

.contentBox
{
	width:90%;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	padding: 4px;
	text-align:left;
	border:1px solid #3b3b3c;
}

.insideBox
{
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	padding: 4px;
	text-align:left;
	border:1px solid #3b3b3c;
	vertical-align:top;
}

.separatorDiv
{
	height:20px;
}

#cssmenu {
  border-radius: 2px;
  background:  #34495e 
  list-style: none;
  margin: 0;
  padding: 0;
  'width: 100%;
}
#cssmenu li {
  font: 100% "Lucida Sans Unicode", "Bitstream Vera Sans", "Trebuchet Unicode MS", "Lucida Grande", Verdana, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  list-style: none;
}
#cssmenu a {
  background: #34495e 
  border-bottom: 1px solid #393939;
  color: #ccc;
  display: block;
  margin: 0;
  'padding: 2px 2px;
  text-decoration: none;
  font-weight: normal;
}
#cssmenu a:hover {
  background: #2580a2;' url("imgs/hover.gif") left center no-repeat;
  color: #fff;
  'padding-bottom: 8px;
}
